header{
  background: #2c3e50;
  color:#fff;
}
#footer{
  background: #2c3e50;
  color:#fff;
  height: 80px;
  bottom: 0;
  padding-bottom: 0px;

}

#menu_vertical{
  background: #6EEEF0;
  border: #FAF0F0 2px solid;
}
body{
  padding-top: 10px;	
  padding-bottom: 10px;
  background-image: url(../imagen/fondo.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
a.style1:visited {
    color: #05A21F;
}
/*#paginador{
  background: #6EEEF0;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index:50%;
}*/
.panel-body {
background:#B9F0C6;
}

/*tabla materias*/
#datos{
  border: #E51111 2px solid;
  background: #F8FBFB;
}

#capitulos {
background:#F66868;
 
}
#new_subtitulo {
background:#F66868;
}

#contenido {
background:#9D48ED; 

}

#unidad {
background:#0AF864;

}

#bibliografia{
background:#9F6FF9;
}

#separador{
 border-color:#2D0DF0;
}

#new_contenido{
background:#F66868; 
}

#new_subtitulo{
background:#9A58F3; 
}

#new_seccion{
background:#28F094; 
}