header{
  background: #2c3e50;
  color:#fff;
}
#footer{
  background: #2c3e50;
  color:#fff;
  height: 80px;
  bottom: 0;
  padding-bottom: 0px;

  /*position: fixed;
  height: 80px;
  bottom: 0;
  width: 100%;*/

}

#menu_vertical{
  background: #6EEEF0;
  border: #FAF0F0 2px solid;
}

body{
  padding-top: 10px;  
  padding-bottom: 10px;
  background: #071D55;
  /*background-image: url(../imagen/fondo.jpg);*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
a.style1:visited {
    color: #05A21F;
}
/*#paginador{
  background: #6EEEF0;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index:50%;
}*/
.panel-body {
 background:#B9F0C6;
}

/*tabla materias*/
#datos{
  /*border: #E51111 2px solid;*/
  background: #B9F0C6;
}

#capitulos {
border: #2c3e50 2px solid;  
/*background:#F97D7D;*/
 
}
/*Para los titulos de los Formularios de materia*/
#cabecera{
 border: #2c3e50 2px solid;
 background: #484848 ;
 color: white;
}

#nuevo{
  border: #2c3e50 2px solid;
  background: #FBF3F3;
  /*border-radius: 10px 10px 10px 10px;*/

}
#new_subtitulo {
border: #2c3e50 2px solid;  
/*background:#F66868;*/
}

#contenido {
border: #2c3e50 2px solid;  
/*background:#9D48ED; */
}

#unidad {
 border: #2c3e50 2px solid;  
 /*background:#0AF864;*/
}

/*css para bibliografias*/
#bibliografia{ 
border: #2c3e50 2px solid;  
/* background:#8289E0;*/
}

#separador{
 border-color:#2D0DF0;
}

#new_contenido{
  border: #2c3e50 2px solid;
  /*background:#F66868;*/ 
}

#new_subtitulo{
  border: #2c3e50 2px solid;
 /*background:#9A58F3;*/ 
}

#new_seccion{
  border: #2c3e50 2px solid;
  /*background:#28F094;*/ 
}
#cuadro{
  width: 90%;
  background: #F8F8F8 ;
  padding: 25px;
  margin: 5px auto;
  border: 3px solid #D8D8D8;
}
table {
  border-collapse: collapse;
  width: 70%;
  text-align: center;
  margin: auto;
}
th, td {
  padding: 0.25rem;
  border: 1px solid #ccc;
}
tbody tr:nth-child(odd) {
  background: #eee;
}
.titulo{
  padding: 0.5rem;
  background: #484848 ;
  color: white;
  text-align: center;
  font-size: 21px;
}
#buscar{
  width: 550px;
  font-size: 15px;
  color: #fff;
  background: #383838 ;
  padding-left: 20px ;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  margin:10px;  
}
input[type=search] { 
  color: black; text-align:left; width:400px; 
}