/*Menu desplegable*/

.list-group.panel > .list-group-item {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px
}
.list-group-submenu {
  margin-left:20px;
}

/*fin del Menu desplegable*/


#list-carrera{
 color: #0C0CF0;
}

#img_fcyt{
 padding-left: 20px;
}
.fondo{
	background: #2A0A0A;
	color: #FAF2F2;
	padding-top: 10px;
	padding-bottom: 10px;
}
#sitiosUmss >li{
  /*border-top: solid #1E0303;*/
  border-bottom: 2px solid #5C3C3C;
}
#subtitulo{
	color: #233EE3;
}

#nivel{
    color: #0D0DDD;
}

.tree li {
    margin: 0px 0;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0px 5px;
}
.muro{
	border: 1px solid;
	background: #D8FCFE;
}
.tree li::before {
    content:'';
    position: absolute;
    top: 0;
    width: 1px;
    height: 100%;
    right: auto;
    left: -20px;
    border-left: 1px solid #ccc;
    bottom: 50px;
}
.tree li::after {
    content:'';
    position: absolute;
    top: 30px;
    width: 25px;
    height: 20px;
    right: auto;
    left: -20px;
    border-top: 1px solid #ccc;
}
.tree li a {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-decoration: none;
    color: #666;
    font-family: arial, verdana, tahoma;
    font-size: 11px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.tree > ul > li::before, .tree > ul > li::after {
    border: 0;
}

.tree li:last-child::before {
    height: 30px;
}


 .tree li a:hover, .tree li a:hover+ul li a {
    background: #c8e4f8;
    color: #000;
    border: 1px solid #94a0b4;
}


.tree li a:hover+ul li::after, .tree li a:hover+ul li::before, .tree li a:hover+ul::before, .tree li a:hover+ul ul::before {
    border-color: #94a0b4;
}


/** {
font-family:sans-serif;
list-style:none;
text-decoration:none;
margin:0;
padding:0;
}
 
#nav > li {
float:left;
}
 
#nav li a {
background:#0c9ba0;
color:#FFF;
display:block;
border:1px solid;
padding:10px 12px;
}
 
#nav li a:hover {
background:#D0EC11;
}

#nav li ul {
display:none;
position:absolute;
min-width:140px;
}

#nav li:hover > ul {
display:block;
}


#nav li ul li {
position:relative;
}
 
#nav li ul li ul {
right:-140px;
top:0;
}
*/